@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply transition ease-linear duration-75;
        @apply text-black dark:text-white
    }

    nav {
        @apply fixed top-0 w-full flex justify-between items-center h-16 border-bottom z-10;
        @apply bg-light dark:bg-dark
        /* border-bottom: 0.5px solid theme(colors[border]);  */
    }

    a {
        @apply transition ease-linear duration-75;
        @apply hover:cursor-pointer hover:text-gray-900 dark:hover:text-slate-100
    }

    h1 {
        font-size: theme(fontSize.4xl);
    }
    
    h2 {
        font-size: theme(fontSize.3xl);
    }

    h3 {
        font-size: theme(fontSize.2xl);
    }

    h4 {
        font-size: theme(fontSize.xl);
    }
}

@layer components {
    .nav-dropdown {
        @apply absolute w-full h-fit z-10 bg-dark;
        @apply border-full rounded-b-lg;
    }

    .front {
        @apply transition ease-linear duration-75;
        @apply bg-slate-400 dark:bg-slate-800;
    }

    .submit-disabled {
        @apply !bg-gray-600 !border-none text-white;
    }

    .login-button {
        @apply !bg-pink-600 !border-none text-white;
        @apply hover:cursor-pointer hover:brightness-125;
    }

    .login-disabled {
        @apply !bg-gray-600 !border-none text-white;
        @apply hover:cursor-pointer hover:brightness-125;
        @apply flex justify-center
    }

    .logout-button {
        @apply w-full h-full !border-none rounded-none text-xl font-medium;
        @apply hover:bg-slate-400 dark:hover:brightness-125 dark:hover:bg-dark hover:cursor-pointer;
        margin-top: 0.5px;
    }

    .project-container {
        @apply max-w-sm h-52 bg-slate-800 rounded-2xl border-full m-4;
        @apply hover:brightness-105;
        min-width: 45%;
    }

    .new-project {
        @apply w-12 h-12 border-slate-500 border-solid border rounded-full p-4;
    }

    .submit:hover {
        cursor: pointer;
        @apply !brightness-125
    }

    .show-pass {
        @apply absolute right-2 bottom-1 w-6 text-gray-400;
        @apply hover:text-gray-50 hover:cursor-pointer;
    }

    .sidebar {
        @apply fixed top-16 border-right p-6;
        width: 200px;
        height: calc(100vh - 64px);
    }

    .spinner {
        @apply animate-spin;
    }

    .toast {
        @apply absolute top-20 right-10 bg-slate-200 h-20 w-44;
    }
    
    .border-full   { border: 0.5px solid theme(colors[border]) }
    .border-top    { border-top: 0.5px solid theme(colors[border]) }
    .border-bottom { border-bottom: 0.5px solid theme(colors[border]) }
    .border-left   { border-left: 0.5px solid theme(colors[border]) }
    .border-right  { border-right: 0.5px solid theme(colors[border]) }
    .border-y      { @apply border-top border-bottom }
    .border-x      { @apply border-left border-right }
}